rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /stores/master-super-store {
      allow read, create, update: if request.auth != null;
      allow delete: if false;
    }
  }
}
